*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.btn-color {
    background-color: lightgray; /* Green */
    border: 1px solid gray;
    color: black;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}


.father{
    display: flex;
    flex-flow: column nowrap;
    /* background: #0F3D3E; */
    background: white;
}
    .header{
        background: url(./ImgP/p14.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        /* background: black; */
        display: flex;
        flex-flow: column nowrap;
        /* filter: blur(5); */
    }
        .menu{
            background: rgba(0, 0, 0,.1);
            /* background: #0F3D3E; */
            display: flex;
            height: 100px;
            align-items: center;
            border-bottom: 3px solid rgba(255, 255, 255,.5);
        }
            .logo{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                margin: 10px;
                /* height: 45px; */
            }
                .logo a{
                    color: rgb(0, 0, 0);
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #881111;
                }
            .nav{
                /* background: #5A8F7B; */
                flex: 5 1 auto;
                /* height: 45px; */
            }
                .nav a{
                    color: rgb(0, 0, 0);
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #881111;
                }
            .sociales{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                /* height: 45px; */
            }
                .sociales a{
                    color: rgb(0, 0, 0);
                    font-size: 18px;
                    padding: 0 5px;
                }
                .sociales a:hover{
                    color: #881111;
                }
            .textirijillo{
                /* background: #355764; */
            }
            h1{
                /* background: #81CACF; */
                color: rgb(0, 0, 0);
                padding: 100px;
                
            }
    .section{
        background: rgb(255, 255, 255);
        display: flex;
    }
        .articulos{
            /* background: #5800FF; */
            background: rgba(0, 0, 0,.1);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            padding: 25px;
        }
            .articles{
                
                flex: 1 1 40%;
                margin: 15px;
            }
                .articles a{
                    color: #fff;
                    font-size: 13px;
                    padding: 10px;
                    background: black;
                    margin: 10px 0;
                    display: inline-block;
                }
                .tama1{
                    height: 250px;
                    width: 400px;
                }
        .info{
            /* background: #0F3D3E; */
            /* background: url(/ImgP/img16.jpg); */
            flex: 2 1 auto;
            background: rgba(0, 0, 0,.1);
            justify-content: center;
            padding: 30px;
        }
            .info img{
            background-position: center;
            background-attachment: contain;
            background-size: cover;
            /* background: rgba(0, 0, 0,.1); */
            }
            .tama{
                width: 700px;
            }
            .info2{
                /* background: #0F3D3E; */
                /* background: url(/ImgP/img16.jpg); */
                flex: 2 1 auto;
                background: rgba(0, 0, 0,.1);
                justify-content: center;
                padding: 25px;
                font-size: 32px;
            }
        .aside{
            /* background: #81CACF; */
            background: white;
            flex: 1 1 auto;
        }
        .publicidad{

            background: rgba(0, 0, 0,.1);
            margin: 5px;
            padding: 5px;
        }
            .h4{
                margin: 5px;
                padding: 5px;
            }
    .footer{
        background: rgb(134, 76, 76);
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #76BA99;
            width: 300px;
            
        }
    .slider-frame{
        width: 1280px;
        height: auto;
        margin: 50px auto 0;
        /* overflow: hidden; */
        

        /* animation: slide 16s infinite alternate ease-in-out; */
    }
    /* .slider-frame-div {
        padding: 0;
        width: 400%;
    }
    .slider-frame li {
        list-style: none;
        width: 100%;
    }
    .slider-frame img{
        width: 100%;
    }

    @keyframes slider{
        0% {margin-left: 0%;}
        20% {margin-left: 0%;}

        25% {margin-left: -100%;}
        45% {margin-left: -100%;}

        50% {margin-left: -200%;}
        70% {margin-left: -200%;}

        75% {margin-left: -300%;}
        95% {margin-left: -300%;}

    }

    .test {
        text-align: center;
        padding: 2;
    } */